<div>Shop</div>
<p style="color:red"><strong>{{error}}</strong></p>

{{#if payload}}
    <h2>Lista de productos filtrados</h2>
    <ul>
    {{#each payload}}
    <li>{{this.p_name}} - Price: {{this.price}}</li>
    <button onclick="addToCart('{{this._id}}')">+ Cart</button>
    {{/each}}
    </ul>
{{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
{{/if}}
{{page}}
{{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
{{/if}}

{{else}}
        <h2>No hay productos para mostrar</h2>
{{/if}}

<script>
  const addToCart = async (productId) => {
    try {
      const response = await fetch(`/carts/64d9368141858f1f90518aaa/product/${productId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ quantity: 1 }), // ajustar la cantidad
      });

      if (response.ok) {
        console.info('Producto agregado al carrito');
      } else {
        console.error('Error al agregar producto al carrito');
      }
    } catch (error) {
      console.error('Error:', error);
    }
  };
</script>